강의 출처 : https://www.youtube.com/playlist?list=PLrpXwtuxGqcIIf_SpCWg04MoHf1yJUCvi

In [ ]:
#엑셀 데이터 읽어 오기 
import pandas as pd 

df = pd.read_excel('E00EXAMPLE.xlsx')
df

In [ ]:
df1 = df.iloc[0:3,0:5] #행열 슬라이싱 
df1

In [ ]:
#Sorting
df.sort_values(["영어","국어"], ascending=False)

#배열의 연산? 
#데이터 프레임끼리의 연산하기

판다스 끼리라면 같은 컬럼 * 같은 인덱스 끼리의 연산

In [ ]:
import pandas as pd
a1 = [[1,2,3], [4,5,6,], [7,8,9]]
df1 = pd.DataFrame(a1, columns=list("ABC"), index=list("가나다"))
df2 = df1.reindex(columns=list("BCA"), index=list("나다가")).copy()
sr1 = df1.loc["가"]
df3 = df1.iloc[:2,:2]

In [ ]:
df3

In [ ]:
df2.sort_index(ascending=True)

In [ ]:
df1

In [ ]:
#df1*df1
#df1+df2
#df1 + df3 #열과 행이 안맞으니 NaN 으로 나옴 
df1.add(df3,fill_value=0) #df3와 df1 행 열 일부 안맞음 df1 에는 있는데 df3에 없으면 그냥 0을 더했다고 칩시다

In [ ]:
df1+sr1
df1.add(sr1,axis=1)
#df1.add(sr1,axis=0)

#Boolean Indexing

In [ ]:
import pandas as pd
import numpy as np
a1 = [60, 84, 80, 70, "문예부"]
a2 = [77, 62, 95, 85, "과학부"]
a3 = [61, 97, 72, np.nan, "농구부"]
a4 = [75, 65, 95, np.nan, "다도부"]
cols = ["국어", "영어", "수학", "과학", "소속"]
b1 = ["문예부", "과학부", "다도부"]
df = pd.DataFrame([a1, a2, a3, a4], index=list("ABCD"), columns=cols)

In [ ]:
df

In [ ]:
#영어 성적 80 이상인 사람만 뽑아보기 
#df["영어"]
#df["영어"]>80
#df.loc[df["영어"]>80]
cond1 = df["영어"]>80
df.loc[cond1,"국어":"과학"]

In [ ]:
#조건이 두 개 라면 
cond1 = df["국어"]>60
cond2 = df["영어"]>80 

df.loc[cond1&cond2,"국어":"과학"]

In [ ]:
df["과학"].isnull()
#과학 = NaN 이 아닌 값만 추출 
cond1 = df["과학"].isnull()
df[~cond1] #cond1 가 아닌 거

In [ ]:
cond1 = df["과학"].isnull()
cond2 = df["수학"]>90
df[~cond1|cond2] #or 조건

In [ ]:
#isin 조건 
df["소속"].isin(b1)
df.loc[df["소속"].isin(b1)]

# index + Column 다루기

In [ ]:
import pandas as pd
df1 = pd.DataFrame([["파이전자", 20, 30, 30, 40, "반도체"], 
                   ["썬닉스", 100, 90, 80, 100, "반도체"], 
                   ["판다센", 300, 320, 340, 0, "게임"], 
                   ["스마블", 0, 450, 300, 300, "게임"]], 
                  columns=["종목", "A팀", "B팀", "C팀", "D팀", "분류"])
s1 = pd.Series([35000, 10000, 2000, 5000], index=list(df1["종목"]))
df2 = df1.set_index("종목").iloc[:,:4].mul(s1, axis=0)
df2 = df2.reindex(["D팀", "C팀", "B팀", "A팀", "분류"], axis=1).reset_index()
df2["분류"] = df1["분류"]
df1

1.df.index, df.column을 확인한다 
2.index를 설정한다 set_index 
3.index를 리셋한다 reset_index 
4.index의 순서를 바꿔본다 reindex 
5.index의 이름을 바꾼다 직접 입력 혹은 rename 
6.index를 정렬한다 sort_index

In [ ]:
list(df1.index)
#list(df1.columns)
#df1.index #함수가 아니라서 괄호 노노

In [ ]:
#df1의 종목 열에 있는 값들을 index 로 지정하기 
#df1.set_index(["분류","종목"])
df1.set_index("종목")

In [ ]:
df1.set_index(["종목","분류"])#,drop=False)) #drop = False 면 원래 있었던 종목, 분류를 인덱스 하면서도 기존 자리에 남겨주자 이런 의미임

In [ ]:
df3 = df1.loc[df1["종목"] != "판다센"]
df3.reset_index(drop = True) # 기존 인덱스 탈락

In [ ]:
#df3.T #전치 행렬을 뽑아내는 numpy 기법? 
df3.T.reset_index().T

In [ ]:
df1.reindex(columns = ["종목","B팀","A팀","D팀","C팀","분류"])

In [ ]:
df1.reindex(columns = df2.columns)

In [ ]:
df1.reindex(columns = ["종목","A팀","D팀","E팀"],fill_value = 0)

In [ ]:
#rename 

df1.rename(columns={"A팀":"Ai팀"})

In [ ]:
#column sorting 
df2.sort_index(axis=1)

#Pivot Table

In [ ]:
import pandas as pd 

a1 = ['송중기', '이유빈', '권보아', '차유람', '박보검', '김범수',  '이효리', '유승호', '김유정']
a2 = list("남여여여남남여남여")
a3 = list("AAABBBCCC")
a4 = [97, 88, 78, 64, 84, 89, 87, 92, 99]
a5 = [i + "등" for i in list("123321321")]
a6 = [i + "시" for i in list("수정정수수수정정수")]
a7 = ['이름', '성별', '반', '점수', '반등수', '비고']

In [ ]:

df = pd.DataFrame([a1, a2, a3, a4, a5, a6], index=a7, columns=list(range(1, 10))).T
df["점수"] = df["점수"].astype(int)
df.head(4)

1. df를 피벗테이블로 만들어본다 
2. df를 멀티 인덱스 피벗테이블로 만들어본다 
3. 숫자 아니고 문자열이 담긴 열을 values로 df를 피벗해본다 

df.pivot_table(df, index = [열1, 열2], column = [열1, 열2], aggfunc = 집계함수)

In [ ]:
df.pivot_table("점수", index = "반", columns="성별",aggfunc='mean')

In [ ]:
df.pivot_table("점수", index = ["반","성별"], columns="비고",aggfunc='mean',fill_value=0)

In [ ]:
#엑셀 내보내기 
pivot_df = df.pivot_table("점수", index = "반", columns="성별",aggfunc='mean')
pivot_df.to_excel("Practice_excel.xlsx", sheet_name="Pivot")

In [ ]:
#문자열을 values 로 쓰려면 pivot_table 이 아닌 pivot 함수 써야 함 
df.pivot(values="이름",index = "반",columns = "반등수")